.App {
	text-align: center;
button {
	font-weight: bold;
	margin:15px;
	padding: 10px;
}
label{
	font-size: 20px;
}
select{
  margin: 15px;
  padding: 10px;
}
th,tr{
	font-size: 20px;
	align-items: center;
	background-color: rgb(204, 192, 201);
	}
.grid {
	background-color: #727564;
	padding: 10px;
}
}
